.appointDash_{
    
    border-radius: 2%;
    margin-bottom: 15rem;

}



table {
  -webkit-box-shadow: -1px 3px 8px -3px rgba(0,0,0,0.5);
    -moz-box-shadow: -1px 3px 8px -3px rgba(0,0,0,0.5);
    box-shadow: -1px 3px 8px -3px rgba(0,0,0,0.5);
    flex: 1;
    position: absolute;
    bottom: -4rem;
    left: 12rem;
    width: 77rem;
    display: grid;
    border-collapse: collapse;
    grid-template-columns: 
    minmax(101px, 0fr)
    minmax(110px, 1.67fr)
    minmax(150px, 1.67fr)
    minmax(150px, 1.07fr)
    minmax(120px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(120px, 1.67fr)
    minmax(90px, 1fr);
    border-radius: 1rem 1rem 1rem 1rem;
  }

  
  thead,
  tbody,
  tr {
    display: contents;
    border: 1px solid black;

  }
  
  th,
  td {
    padding: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  th {
    top: 0;
    background: #F0F4FD;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    color: #979FB6;
  }
  
  th:last-child {
    border: 0;
    border-radius: 0rem 1rem 0rem 0rem;
  }
  th:first-child {
    border-radius: 1rem 0rem 0rem 0rem;
  }
 

  .appointDash_consult_tr{
    border-bottom: 1px solid black;
  }
  
  .resize-handle {
    top: 0;
    right: 0;
    bottom: 0;
    background: black;
    opacity: 0;
    cursor: col-resize;
  }
  
  td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
    border-bottom: 1px solid #808080;
  }
  
  tr:nth-child(even) td {
    background: #f8f6ff;
  }

 
  .appointDash_span{
    margin-left: 5px;
  }

  .appointDash_td_status{
    border-radius: 1px;
    text-align: center;
    margin-top: 13px;
  }
  .appointDash_td_Invo{
    margin-top: 13px;
  }
  .appointDash_td_status_Invo_p{
    background-color: #FFE0E0;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 21px;
    color: red;
  }

  .appointDash_td_status_stat{
    background-color: #F0F4FD;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 21px;
    color: #29375F;
  }

  .appointDash_td_status_Invo{
    background-color: #F0F4FD;
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 21px;
    color: #29375F;
  }


  .appointDash_td_specialCa{
    padding-left: 4rem;
    font-size: 1.4rem;
font-weight: 600;
  }

  .appointDash_patient{
    color: #279AF1;
  }

  .appointDash_consult_span{
    color: #29375F;
    font-weight: 600;
    margin-bottom: 4px;
  }

  .appointDash_consult_td{
    color: #29375F;
font-weight: 500;
  }