
.dashboard_chart {
    position: absolute;
    left: 9.5rem;
    top: 61rem;
}

.dashboard_sidebar {
    height: 100vh;
}

.dashboard_appointments {
    position: absolute;
    display: flex;
    top: 28rem;
    left: 10rem;
}



.dashboard_earnings {
    position: absolute;
    top: 9rem;
    left: 9.5rem;
    z-index: 15;
}

.dashboard_earnings_Earnings {
    position: absolute;

}

.dashboard_activity {
    position: absolute;
    top: 3rem;
    right: 3rem;
}