.appointmentDetails{
    display: flex;
    padding-bottom: 2rem;
    padding-top: 3rem;
    top: 8rem;
    padding-right: 7rem;
    position: absolute;
    background-color: #F0F6FE;
    border-radius: 0px 0px 11px 11px;
}
.appointInfo{
    margin-left: 5rem ;
    color:#546082 ;

}

.appointInfo > p {
    font-weight: 700;
    margin-bottom: 0.8rem;

}

.appointInfo:nth-child(1){
    margin-left: 4rem ;

}