.appointmentsQue{
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    background-color: #ffff;
    border: 1px solid #A9A5BF;
    border-radius: 10px;
    /* position: absolute;
    top: 28rem;
    left: 9.5rem; */
    margin-right: 2rem;
}

.appointUpper{
    display: flex;
    padding-top: 1rem;
    padding-bottom: 2rem;
    justify-content: space-around;
    border-bottom: 1px solid #A9A5BF;
    color: #A9A5BF;

}

.appointUpper > h3 {
    margin-right: 5rem;
}

.appointMid_head {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;

}

.appointMid_head > span:nth-child(1){
    color: #A9A5BF;
    margin-right: 7rem;

}
.appointMid_head > span:nth-child(2){
    color: orangered;
}

.appointMid{
    margin-top: 1.2rem;
}
.appointMid:nth-child(5){
    margin-bottom: 3rem;

}

.appointMid_users_Container{
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    justify-content: space-between;
}
.appointMid_users_Left{
    display: flex;
    align-items: center;
}


.appointMid_users_data{
    display: flex;
    flex-direction: column;
    margin-left: 0.8rem;


}

.appointMid_users_data:nth-child(4){

}

.appointMid_users_data > span:nth-child(2){
    margin-right: 2px;
    font-size: 12px;
}

.appointMid_users_Right_accessTime{
    font-size: 0.8rem;
    padding: 1px 3px 1px 3px;
    background-color: #FFE0E0;
    border-radius: 11px;
    color: #cd0606;
}
.appointMid_users_Right_accessTime_wait{
    font-size: 0.8rem;
    padding: 1px 3px 1px 3px;
    background-color: #FFECCC;
    border-radius: 11px;
    color: #baaa8d;
}
.appointMid_users_Right{
    background-color: #fff;
    
}

.appointMid_users_data:nth-child(){
    margin-bottom: 2rem;
}

.appointLast{
    border-top: 1px solid #A9A5BF;
    margin: 0 1rem;
    color: orangered;

    
}

.appointLast > p{
    margin: 1rem 0;
    font-weight:600 ;
}